<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <client>
      <!-- IMPORTANT: Replace localhost in the address below with the network IP of the service -->
      <endpoint
        name="DeckEndpoint"
        address="net.tcp://192.168.2.17:13200/Crazy8Library/DeckService"
        binding="netTcpBinding"
        bindingConfiguration="myBindingConfig"
        contract="Crazy8Library.IDeck" />
    <!--<endpoint
        name="DeckEndpoint"
        address="net.tcp://localhost:13200/Crazy8Library/DeckService"
        binding="netTcpBinding"
        bindingConfiguration="myBindingConfig"
        contract="Crazy8Library.IDeck" />-->
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="myBindingConfig">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
  </system.serviceModel>
</configuration>