<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <system.serviceModel>
    <services>
      <service name="GameLibrary.Me">
        <endpoint
          address="net.tcp://localhost:13200/GameLibrary/ShoeService"
          binding="netTcpBinding"
          contract="GameLibrary.IMe" />
      </service>
    </services>
  </system.serviceModel>
</configuration>